<h1>Controle Financeiro</h1>

<form action="/action_page.php">
  <label>Tipo transação</label><br>
  <select>
    <option selected value="0">Compra</option>
    <option value="1">Venda</option>
  </select>
  <br>
  Nome da Mercadoria:<br>
  <input type="text" name="mercadoria" placeholder="Mercadoria">
  <br>
  <input type="text" name="valor" placeholder="R$ 0,00">
  <br><br>
  <input type="submit" value="Adicionar transação">
</form>

<h1>Extrato de Tensações</h1>

<table>
  <tr>
    <th>Mercadoria</th>
    <th>Valor</th>
  </tr>
</table>