/* reset css */

* {
  font-family: 'Lato', sans-serif !important;
}

html, body {
  width: 100%;
  margin: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, s del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
  font-size: 1.5em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
}

.center {
  margin: auto;
}

/*const*/

/* flex */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column
}

.flex-row {
  flex-direction: row
}

.flex-btw {
  justify-content: space-between;
}

/* COLORS */

.blue-eyes {
  color: white;
  background-color: #002e6b;
}

.red-mouth {
  color: #ff0d19;
  color: white;
}

.white-snow {
  color: #002e6b;
  background-color: #801735
}

.white {
  color: white
}

.red {
  color: red
}

.blue {
  color: blue
}

.bwhite {
  background-color: white
}

.bgray {
  background-color: #0e0e0e1c
}

.bblue {
  background-color: blue
}

.hg-1 {
  line-height: 25px;
  max-height: 25px;
}

.hg-2 {
  line-height: 50px;
  max-height: 50px;
}

.hg-3 {
  line-height: 75px;
  max-height: 75px;
}

.hg-4 {
  line-height: 100px;
  max-height: 100px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.tright {
  text-align: right;
}

.tleft {
  text-align: left;
}

/* Mobile */

@media only screen and (min-width: 276px) {
  .cxs-1 {
    width: 8.33
  }
  .cxs-2 {
    width: 16.6666%
  }
  .cxs-3 {
    width: 25%
  }
  .cxs-4 {
    width: 33.3333%
  }
  .cxs-5 {
    width: 41.6666%
  }
  .cxs-6 {
    width: 50%
  }
  .cxs-7 {
    width: 58.3333%
  }
  .cxs-8 {
    width: 66.6666%
  }
  .cxs-9 {
    width: 75%
  }
  .cxs-10 {
    width: 83.3333%
  }
  .cxs-11 {
    width: 91.6666%
  }
  .cxs-12 {
    width: 100%
  }
}

/* tablet */

@media only screen and (min-width: 768px) {
  .cs-1 {
    width: 8.33
  }
  .cs-2 {
    width: 16.6666%
  }
  .cs-3 {
    width: 25%
  }
  .cs-4 {
    width: 33.3333%
  }
  .cs-5 {
    width: 41.6666%
  }
  .cs-6 {
    width: 50%
  }
  .cs-7 {
    width: 58.3333%
  }
  .cs-8 {
    width: 66.6666%
  }
  .cs-9 {
    width: 75%
  }
  .cs-10 {
    width: 83.3333%
  }
  .cs-11 {
    width: 91.6666%
  }
  .cs-12 {
    width: 100%
  }
}

/* web */

@media only screen and (min-width: 992px) {
  .cm-1 {
    width: 8.33
  }
  .cm-2 {
    width: 16.6666%
  }
  .cm-3 {
    width: 25%
  }
  .cm-4 {
    width: 33.3333%
  }
  .cm-5 {
    width: 41.6666%
  }
  .cm-6 {
    width: 50%
  }
  .cm-7 {
    width: 58.3333%
  }
  .cm-8 {
    width: 66.6666%
  }
  .cm-9 {
    width: 75%
  }
  .cm-10 {
    width: 83.3333%
  }
  .cm-11 {
    width: 91.6666%
  }
  .cm-12 {
    width: 100%
  }
}

/* web large */

@media only screen and (min-width: 1200px) {
  .cl-1 {
    width: 8.33
  }
  .cl-2 {
    width: 16.6666%
  }
  .cl-3 {
    width: 25%
  }
  .cl-4 {
    width: 33.3333%
  }
  .cl-5 {
    width: 41.6666%
  }
  .cl-6 {
    width: 50%
  }
  .cl-7 {
    width: 58.3333%
  }
  .cl-8 {
    width: 66.6666%
  }
  .cl-9 {
    width: 75%
  }
  .cl-10 {
    width: 83.3333%
  }
  .cl-11 {
    width: 91.6666%
  }
  .cl-12 {
    width: 100%
  }
}

/* header */

.nav-header li a {
  color: black;
  text-decoration: none;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.last-li {
  padding-right: 10px;
}

.nav-header label {
  white-space: nowrap;
}

.pipe-right:after {
  content: '|';
  margin-left: 15px;
  color: #00000057;
}

.nav-header li a:hover {
  background-color: #0e0e0e1c;
}

.active {
  background-color: #0e0e0e1c;
}

.logo {
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  line-height: 1;
  margin: auto 10px;
}

.logo:link, a:visited {
  color: black;
}

button {
  width: 101%;
  height: 35px;
  background-color: white;
  margin: 10px 0px 10px 0px;
  border: none;
  border-right: 1px solid #0000001c;
  border-bottom: 1px solid #0000001c;
  cursor: pointer;
}

button:hover {
  background-color: #e4e4e4;
}

input {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  margin: 10px 0px 20px 0px;
  padding-left: 5px;
}

select {
  width: 101%;
  height: 35px;
  background-color: white;
  border-radius: 5px;
  margin: 10px 0px 20px 0px;
}

.btn-submit {
  background-color: #000000ba;
  color: white;
  cursor: pointer;
  width: 102%;
  margin: 0px;
}

.btn-submit:hover {
  background-color: #0000008c;
}

.border-shadow {
  padding: 20px 25px 20px 20px;
  border: 2px solid #0000001c;
  border-radius: 5px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.body-div {
  padding-top: 20px;
}

.div-extrato {
  padding-left: 20px;
}

table {
  width: 100%;
  height: 100px;
  text-align: left;
}

td {
  padding: 10px 0px;
}

table tr th:nth-child(1) {
  width: 5%;
}

table tr th:nth-child(2) {
  width: 80%;
}

table tr th:nth-child(3) {
  width: 15%;
}

table tr td:nth-child(1) {
  width: 5%;
}

table tr td:nth-child(2) {
  width: 80%;
}

table tr td:nth-child(3) {
  width: 15%;
}

.border-bottom {
  border-bottom: 2px solid #0000001c;
}

.hamburger {
  transition: 1s;
  background-color: black;
  opacity: 0.8;
  width: 30%;
  position: absolute;
  right: 0;
  color: white;
  height: 100%;
}

.hamburger ul li a {
  color: white;
  text-decoration: none;
}

.hamburger ul li {
  padding: 15px 15px;
  cursor: pointer;
}

.hamburger ul li:hover {
  background-color: #ffffff1a;
}

.hamburger-close {
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
}

.hamburger-close span {
  cursor: pointer;
}

.hamburger-close:hover {
  cursor: pointer;
}

.hamburguer-icon {
  margin: auto;
  cursor: pointer;
}

.hamburguer-icon div:hover {
  transition: 1s;
  background-color: #ffffff1a;
}

.hamburguer-icon div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

/* Mobile */

@media only screen and (min-width: 276px) {
  .flex-column-cs-cxs {
    flex-direction: column;
  }
  .flex-row-cs {
    flex-direction: row;
    display: block;
  }
  .hamburger {
    display: none;
    width: 80%
  }
  .menu-desktop {
    display: none;
  }
  .hamburguer-icon {
    display: block;
  }
}

/* tablet */

@media only screen and (min-width: 768px) {
  .flex-column-cs-cxs {
    flex-direction: column;
  }
  .flex-row-cs {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
  .hamburger {
    display: none;
    width: 30%
  }
  .menu-desktop {
    display: none;
  }
  .hamburguer-icon {
    display: block;
  }
}

/* web */

@media only screen and (min-width: 992px) {
  .flex-column-cs-cxs {
    flex-direction: row;
  }
  .flex-row-cs {
    flex-direction: row;
    display: block;
  }
  .hamburger, .hamburguer-icon {
    display: none;
  }
  .menu-desktop {
    display: flex;
  }
}

/* web large */

@media only screen and (min-width: 1200px) {
  .flex-column-cs-cxs {
    flex-direction: row;
  }
  .flex-row-cs {
    flex-direction: row;
    display: block;
  }
  .hamburger, .hamburguer-icon {
    display: none;
  }
  .menu-desktop {
    display: flex;
  }
}